.App {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

img {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  width: 60px;
  height: 60px;
}

img:hover {
  transition: .2s;
  background-color: tomato;
  height: 63px;
  width: 63px;
}

.pieceHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  margin: 5px 0 5px 0;
}

.github {
  margin-top: 15%;
}

.myNewClass {
  background-color: white;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-top: 35%;
  box-shadow: none;
  border: none;
}


.pieces {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center; 
  align-self: center;
  border: 5px solid black;
  border-radius: 20px;
  height: 150px;
  width: 425px;
  margin-top: 10px;
  background-color: white;
} 

h3 {
  height: 60px;
  width: 60px;
  border: 5px solid black;
  border-radius: 15px;
  margin-top: 10px;
  font-size: larger;
  font-weight: bolder;
  background-color: white;
}

h1 {
  background-color: white;
  border: 5px solid black;
  border-radius: 15px;
}

.rules {
  background-color: white;
  border: 5px solid black;
  border-radius: 15px;
  margin-top: 30px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}
